@colorGrey: #ccc;

body {
    header {
        background-color: @colorGrey;

        h1 {}
    }

    main {
        form#search {
            label {}

            input {}

            button {}
        }
        #pages {
            display:none;
        }

        #searchResults {
            border: 1px solid @colorGrey;
            padding: 1.75em 1em;
            margin: 2em 0;
            img {
                width:100%;
            }
        }
    }

    footer {
        background-color: @colorGrey;
    }
}